.feed{
    text-align: center;

    @include media-min( $screen-sm ){
        text-align: left;
    }

    &-instagram{
        display: table;
        width: 100%;
        margin-bottom: 50px;

        @include media-min( $screen-md ){
            margin-bottom: 0;
        }

        &-list{
            @include border-radius( 10px );

            border: 5px solid $black;
            float: left;
            padding-top: 30.555555%;
            width: 33.333333%;

            @include media-min( $screen-xs ){
                @include border-radius( 20px );

                border: 10px solid $black;
            }

            @include media-min( $screen-sm ){
                height: 246px;
                padding-top: 0;
            }

            @include media-min( $screen-md ){
                height: 185px;
            }

            @include media-min( $screen-lg ){
                height: 216px;
            }

            &:last-of-type{
                height: auto;
                padding-top: 0;
                text-align: center;
                width: 100%;
            }

        }

        img{
            @include transition( all,0.3s );
        }

        a:hover img{
            @include gray( 1 );
        }

    }

    &-facebook{
        @include border-radius( 20px );

        margin: auto;
        padding-top: 135%;
        text-align: center;
        width: 100%;

        @include media-min( $screen-xs ){
            height: 570px;
            padding-top: 0;
            width: 400px;
        }

        @include media-min( $screen-md ){
            height: 582px;
            width: 100%;
        }

        @include media-min( $screen-lg ){
            height: 620px;
        }

    }

    .btn.btn-primary {
        min-width: 245px;

        @include media-min( 321px ){
            min-width: 290px;
        }

    }

    &-action{
        text-align: center;

        .btn{
            margin-top: 20px;
        }

    }

    .section-title{
        text-align: center;
        width: 100%;

        @include media-min( $screen-sm ){
            text-align: left;
        }

        @include media-min( $screen-md ){
            width: auto;
        }

    }

    &-case{
        margin-left: -5px;
        margin-right: -5px;

        @include media-min( $screen-xs ){
            margin-left: -10px;
            margin-right: -10px;
        }

    }

}
