.navigation{

    &-bar{
        margin: auto;
        border-top: 0 solid rgba( $black, .9 );

        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 11;

        &.is-first{

            @include media-min( $screen-sm ){
                border-left: 250px solid transparent;
                border-right: 250px solid transparent;
                width: 500px;
            }

        }

        &.is-last{
            background-color: rgba( $black, .9 );
            height: 0;
            width: 100%;

            z-index: 1;
        }

    }

    &-icon{

        @include media-min( $screen-sm ){
            display: none;
        }

    }

}

.is-fix-nav{

    .navigation{

        &-item{
            position: fixed;
            top: 15px;
        }

    }

    .navigation-bar{

        &.is-last{
            border-top: 2px solid $secondary-color;
            height: 80px;
        }

    }

}
