.is-fix-logo{

    .main-logo img{
        width: 50px;

        position: fixed;
        top: 6px;
    }

    .navigation-bar{

        &.is-first{
            border-top: 68px solid rgba( $black, .9 );
        }

    }

    &.is-fix-nav{

        .navigation-bar.is-first {
            top: -80px;

            @include media-min( $screen-sm ){
                top: 80px;
            }

        }

        .main-logo img {
            top: -60px;

            @include media-min( $screen-sm ){
                top: 78px;
            }

        }

        .critical .navigation .is-first{
            @include opacity( 1 );

            width: 50px;

            @include media-min( $screen-sm ){
                height: 0;
                width: 0;
            }

        }

    }

}
