.parallax-background{

    background-size: cover;
    background-position: center;

    @include media-min( $screen-sm ){
        background-attachment: fixed;
        background-position: center 0;
        background-repeat: no-repeat;
    }

}

@include media-min( $screen-sm ){

    @keyframes fadeInUp {
        from {
            @include opacity(0);
            @include transform( translate3d(0, 100%, 0) );
        }

        to {
                @include opacity(1);
                @include transform( none );
            }
        }

    .is-onload-animate {
        @include opacity(0);

        animation: fadeInUp 1s ease-in-out 0s forwards;

        &.first {
            @include animation-delay( .5s );
        }

        &.second {
            @include animation-delay( 1s );
        }

        &.third {
            @include animation-delay( 1.5s );
        }

        &.fourth {
            @include animation-delay( 1.2s );
        }

        &.fifth {
            @include animation-delay( 2s );
        }

        &.sixth {
            @include animation-delay( 2.5s );
        }

     }

}
