.parallax-background{

    background-size: cover;
    background-position: center;

    @include media-min( $screen-sm ){
        background-attachment: fixed;
        background-position: center 0;
        background-repeat: no-repeat;
    }

}
