.navigation{

    &-bar{
        margin: auto;
        border-top: 0 solid rgba( $black, .9 );

        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 11;

        &.is-first{

            @include media-min( $screen-sm ){
                border-left: 250px solid transparent;
                border-right: 250px solid transparent;
                width: 500px;
            }

        }

        &.is-last{
            background-color: rgba( $black, .9 );
            height: 0;
            width: 100%;

            z-index: 1;
        }

    }

    &-icon{

        @include media-min( $screen-sm ){
            display: none;
        }

    }

    &-button{
        @include border-radius( 50% );
        @include opacity( 0 );

        background-color: rgba( $black, .8 );
        height: 65px;
        margin: auto;
        padding: 20px 12px;
        width: 65px;

        left: 0;
        position: fixed;
        right: 0;
        top: 10px;
        z-index: 11;

        @include media-min( $screen-sm ){
            display: none;
        }

        span{
            @include transition( all,1s );
            @include border-radius( 10px )

            background-color: $white;
            display: block;
            height: 3px;
            margin-bottom: 8px;
            width: 0;
        }

    }

}

.is-fix{

    &-nav{

        .navigation{

            &-item{
                position: fixed;
                top: 18px;

                @include media-min( $screen-sm ){
                    top: 15px;
                }

            }

        }

        .navigation-bar{

            &.is-last{
                border-top: 2px solid $secondary-color;

                @include media-min( $screen-sm ){
                    height: 80px;
                }


            }

        }

    }

    &-logo{

        .main-logo{

            img{
                width: 50px;

                position: fixed;
                top: 13px;

                @include media-min( $screen-sm ){
                    top: 6px;
                }

            }

        }

        @include media-min( $screen-sm ){
            .navigation-bar{

                &.is-first{
                    border-top: 68px solid rgba( $black, .9 );
                }

            }
        }

        &.is-fix-nav{

            .navigation-bar.is-first {
                top: -80px;

                @include media-min( $screen-sm ){
                    top: 80px;
                }

            }

            .main-logo img {
                @include opacity( 0 );

                pointer-events: none;

                @include media-min( $screen-sm ){
                    @include opacity( 1 );

                    pointer-events: auto;

                    top: 78px;
                }

            }

            .critical{

                .btn.btn-primary{
                    background-color: rgba( $tertiary-color, .8 );
                    border: 2px solid rgba( $tertiary-color, .2 );

                    @include media-min( $screen-sm ){
                        background-color: transparent;
                        border: 2px solid $secondary-color;
                    }

                }

                .navigation li{
                    @include opacity( 0 );

                    &:first-of-type{
                        @include transform( translateX( 97px ) );
                    }

                    &:last-of-type{
                        @include transform( translateX( -97px ) );

                        @include media-min( $screen-sm ){
                            @include transform( translateX( 0 ) );
                        }

                    }

                    &:nth-of-type( 2 ){
                        @include transform( translateX( 33px ) );

                        @include media-min( $screen-sm ){
                            @include transform( translateX( 0 ) );
                        }

                    }

                    &:nth-of-type( 3 ){
                        @include transform( translateX( -33px ) );

                        @include media-min( $screen-sm ){
                            @include transform( translateX( 0 ) );
                        }

                    }

                    @include media-min( $screen-sm ){
                        @include opacity( 1 );
                    }

                }

            }

            .navigation-button{
                background-color: $tertiary-color;

                span{

                    &:first-of-type{
                        width: 26px;
                    }

                    &:nth-of-type(2){
                        width: 36px;
                    }

                    &:last-of-type{
                        width: 41px;
                    }

                }

            }

            &.is-nav-open{

                .critical .navigation li{

                    @include opacity( 1 );

                    &:first-of-type{
                        @include transform( translateX( 30px ) );

                        @include media-min( $screen-sm ){
                            @include transform( none);
                        }

                    }

                    &:nth-of-type( 2 ){
                        @include transform( translate( -3px,58px ) );

                        @include media-min( $screen-sm ){
                            @include transform( none);
                        }

                    }

                    &:nth-of-type( 3 ){
                        @include transform( translate( 3px,58px ) );

                        @include media-min( $screen-sm ){
                            @include transform( none);
                        }

                    }

                    &:last-of-type{
                        @include transform( translateX( -30px ) );

                        @include media-min( $screen-sm ){
                            @include transform( none);
                        }

                    }

                    &.is-first{

                        &:before{
                            @include transform( rotate( 135deg ) );

                            top: 19px;
                        }

                        .btn{

                            &:first-of-type{
                                display: none;
                            }

                            &:last-of-type{
                                display: inline-block;
                            }

                        }

                    }

                }

                .navigation-button span{

                    &:first-of-type{
                        @include transform( rotate( -45deg ) translate( -8px, 8px ) );

                        width: 41px;
                    }

                    &:nth-of-type( 2 ){
                        width: 0;
                    }

                    &:last-of-type{
                        @include transform( rotate( 45deg ) translate( -7px,-8px ) );
                    }

                }

            }

        }

        .navigation-button{
            @include opacity( 1 );
        }

    }

}
