/* -----------------------------------------------------------------------------
	Common
----------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700,900');

@font-face {
	font-family: 'icomoon';
	src: url( $font-path + 'icomoon.eot?');
	src: url( $font-path + 'icomoon.eot?') format('embedded-opentype'),
		 url( $font-path + 'icomoon.ttf?') format('truetype'),
		 url( $font-path + 'icomoon.woff?') format('woff'),
		 url( $font-path + 'icomoon.svg?') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon{
	position: relative;
}

.icon-display:before {
  content: "\e956";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-tablet:before {
  content: "\e95a";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-chevron{
	&:before,
	&:after{
	  content: "\f078";
	}
}
