*{
	box-sizing: border-box;

	&:focus{
		outline: none;
	}
}

html,
body,
main{
	height: 100%;
}
html{
	font-size: 55.555555%;

	@include media-min( $screen-md ){
		font-size: 62.5%;
	}

}

body{
	-webkit-font-smoothing: antialiased;
	background-color: $black;
	color: $white;
	font-family: $font-family-heading;
	font-size: 1.6rem;
	line-height: 1.8;
	overflow-x: hidden;
	text-rendering: optimizeLegibility;

	@include media-min( 321px ){
		font-size: 1.8rem;
	}

	@include media-min( $screen-sm ){
		line-height: 1.5;
	}

}

.lock-position{
	width: 100%;

	left: 0;
	position: fixed;
	top: 0;
}

img{
	display: block;
	height: auto;
}

ul{
	padding: 0;
	margin: 0;
}

li{
	list-style-type: none;
}

a{
	color: $white;
	display: block;
	text-decoration: none;
}

.display{

	&-table{
		display: table;
		padding: 50px 0;
		width: 100%;
	}

	&-middle{
		display: table-cell;
		vertical-align: middle;
		width: 100%;

		position: relative;

	}

}

.overlay{
	position: relative;

	&:before{
		height: 100%;
		width: 100%;

		content: '';
		left: 0;
		position: absolute;
		top: 0;
		z-index: 1;
	}

	&.is-70{

		&:before{
			@include opacity( .7 );
		}

	}

	&.is-black:before{
		background-color: $black;
	}

}

.center-image{
	overflow: hidden;

	position: relative;

	img{
		@include center-image;
	}

}

.text-center{
	text-align: center;
}

.text-right{
	text-align: right;
}

.has-transition{
	@include transition( all,0.3s );

	&.is-1s{
		@include transition( all,1s );
	}

}

.is-bg-tile{
	@include background-tile-left;
}
