/* -----------------------------------------------------------------------------
	VARIABLES
----------------------------------------------------------------------------- */

$font-path: '../../dist/fonts/';

/* Colors */
$white:			   		#ffffff;
$black: 				#000000;

$primary-color: 		#020923;
$primary-light-color:	#0D5180;
$secondary-color:		#A56E0A;
$tertiary-color:		#450505;

$gray:					#999999;

$dark-cerulean:			#0e5180;
$buttered-rum:			#A57009;

$dark-gray:				#a6a6a6;
$light-gray:			#D7D6D6;


/* Font Family */
$font-family-base:		'Open Sans', sans-serif;
$font-family-heading: 	'Montserrat', sans-serif;

/* Fonts */
$text-color:			#333333;

/* Font size */
$font-size-base:		16px;
$font-size-mobile:		12px;
