.btn{
    @include border-radius( 30px );

    display: inline-block;
    padding: 5px;
    text-align: center;

    &.btn-primary{
        border: 2px solid $secondary-color;
        font-size: 1.6rem;

        position: relative;

        @include media-min( $screen-md ){
            min-width: 130px;
        }

        &:before,
        &:after{
            display: none;
        }

        @include media-min( $screen-sm ){

            &:before,
            &:after{

                @include transition( all,0.3s );
                @include vertical-align;

                background-color: $secondary-color;
                display: block;

                content: '';
                position: absolute;
                right: -20px;

                &:hover{
                    right: 27px;
                }

            }

            &:before{
                height: 2px;
                width: 30px;
            }

            &:after{
                @include border-radius( 50% );

                width: 10px;
                height: 10px;
            }

        }

    }

    &.is-wide{
        min-width: auto;

        @include media-min( $screen-sm ){
            min-width: 160px

        }

        @include media-min( $screen-md ){
            min-width: 200px;
        }

    }

    &.is-lg{
        font-size: 1.8rem;
        height: 50px;
        width: 50px;

        @include media-min( 321ps ){
            height: 60px;
            width: 60px;
        }

        @include media-min( $screen-sm ){
            height: auto;
            padding: 10px 20px;
            width: auto;
        }

    }

}
