.footer{
    margin-top: 100px;
    text-align: center;

    &-logo{
        border-top: 2px solid $secondary-color;

        position: relative;

        &-case{
            background-color: $black;
            margin: auto;
            padding: 20px;
            text-align: center;
            width: 140px;

            left: 0;
            position: absolute;
            right: 0;
            top: -80px;

            @include media-min( $screen-sm ){
                width: 192px;

                top: -105px;
            }

            img{
                width: 100%;
            }

        }

    }

    img{
        display: inline-block;
    }

    &-text{
        font-size: 1.4rem;
        font-weight: 700;
        margin-bottom: 20px;
        margin-top: 75px;
        text-align: center;
        text-transform: uppercase;

        @include media-min( $screen-sm ){
            margin-top: 105px;
        }

    }

}
