.grid{
	background-color: $primary-color;
	height: auto;

	@include media-min( $screen-md ){
		height: 100%;
	}

	.row,
	.grid-h-full{
		@include media-min( $screen-md ){
			height: 100%;
		}
	}

	.grid-h-half{
		@include media-min( $screen-md ){
			height: 50%;
		}
	}

	.grid-h--falf{
		@include media-min( $screen-md ){
			height: 66.666666%;
		}
	}

	.grid-h---half{
		@include media-min( $screen-md ){
			height: 33.333333%;
		}
	}

	.grid-w-full{
		@include transition( all,.3s );

		width: 100%;

		z-index: 1;
	}

	a:hover{
		color: $white;
		text-decoration: none;
	}

}

.project{

	@include background-cover;

	height: 380px;
    overflow: hidden;

	.grid-content{
		height: 100%;

		position: relative;
		z-index: 1;
	}

	p{ color: $white; }

	.icon-action{

		display: block;
		position: relative;

		&:hover{ text-decoration: none;}

	}

	&.left-position{

		&:after{
			left: 0;
			right: auto;
		}

		&:before{
			left: auto;
			right: 0;
		}

		.project-logo { z-index: 1;}

	}

	&.project-main-mobile{

		display: table;
		width: 100%;
		.display-middle{ display: table-cell; }

	}

	.project-logo img{
		margin: auto;
		padding: 0 10px;

		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
	}

	&.animate-left{
		.grid-content .grid-w-full{
			height: 100%;
			width: 50%;

			position: relative;

			@include media-min( $screen-md ){
				width: 100%;
			}

			&:last-of-type{
				@include transition( all,.6s );

				height: 90px;
				margin: auto;
				padding-left: 15px;
				padding-right: 15px;
				width: 50%;

				bottom: 0;
				left: auto;
				position: absolute;
				right: 0;
				top: 0;


				@include media-min( $screen-md ){
					opacity: 0;
					top: -50%;
				}

			}
		}

		&:hover{
			.grid-w-full{

				@include media-min( $screen-md ){
					width: 50%;
				}

				&:last-of-type{

					@include media-min( $screen-md ){
						opacity: 1;

						width: 50%;
						top: 0;
					}

				}

			}
		}

		&:hover:after{
			@include media-min( $screen-md ){
				width: 50%;
			}
		}

		&:before,
		&:after{
			height: 100%;

			top: 0;
		}

		&:hover{
			&:before{
				@include media-min( $screen-md ){
					width: 50%;
				}
			}
		}

	}

	&.animate-up{
		.grid-content{
			@include transition( all,0.6s );

			bottom: 0;
			height: 90px;
			margin: auto;
			padding-left: 15px;
			padding-right: 15px;
			width: 50%;

			left: auto;
			position: absolute;
			right: 0;
			top: 0;

			@include media-min( $screen-md ){
				height: 0;
				opacity: 0;
				width: 100%;

				left: 30%;
			}

			p{
				@include media-min( $screen-md ){
					margin-top: 15px;
				}
			}

		}

		&.left-position:after {
		    left: 0;
		    right: auto;
		}

		&:hover{

			.grid-content{
				@include media-min( $screen-md ){
					opacity: 1;

					left: 0;
				}
			}

			&:before,
			&:after{
				@include media-min( $screen-md ){
					height: 50%;
				}
			}

			.project-logo{
				@include media-min( $screen-md ){
					height: 50%;
				}
			}

		}

		.display-middle {
			padding: 0;
			vertical-align: middle;
			width: 100%;
		}

		&:before{
			height: 100%;

			left: 0;
			top: 0;
		}

		&:after{
			height: 100%;
			width: 50%;

			bottom: 0;
			right: 0;
			left: auto;

			@include media-min( $screen-md ){
				height: 0;
				width: 100%;
			}

		}

		.project-logo{
			@include transition( all,0.3s );

			width: 50%;
			height: 100%;

			left: 0;
			position: absolute;

			@include media-min( $screen-md ){
				width: 100%;
			}

		}

	}

	&:before,
	&:after{
		content: '';
		position: absolute;
	}

	&:before{
		width: 50%;

		left: 0;

		@include media-min( $screen-md ){
			width: 100%;
		}

	}

	&:hover img{
		@include media-min( $screen-md ){
			@include opacity( 0.4 );
		}
	}

	img{
		@include transition( all,.3s );
	}

	&:after{
		@include transition( all,0.6s );

		background-color: rgba( #000000, 0.5 );
		width: 50%;

		right: 0;

		@include media-min( $screen-md ){
			width: 0;
		}

	}

	.btn-action{

		&:before,
		&:after{
			@include transform( rotate( -90deg ) );
		}

		&:before{
			left: 8px;
			right: auto;
		}

		&:after{ left: -25px; }

		&:hover:before{
			@include media-min( $screen-md ){
				left: -8px;
			}
		}

		&:hover:after{
			@include media-min( $screen-md ){
		    	left: -42px;
			}
		}

	}

	.animate-icon{
		&:after,
		&:before{
			@include transform( rotate( -90deg ) );
		}
	}

}

.project-preamble{

	font-size: 16px;
	@include media-min( $screen-md ){
		font-size: 18px;
	}

}

.project-main,
.project-main-mobile{
	background-color: $primary-color;
}

.card-xxs{
	float: left;
	height: 50%;
	width: 50%;
}

.card-xs{
	height: 25%;
}

.card-sm{
	height: 50%;
}

.card-md{
	height: 75%;
}

.card-grid-main{
	background-image: url( '../images/works/grid-main.jpg' );
}

.drkn{
	background-image: url( '../images/works/drkn.jpg' );
}

.valedo{
	background-image: url( '../images/works/valedo.jpg' );
}

.bilon{
	background-image: url( '../images/works/bilon.jpg' );
}

.financebuddy{
	background-image: url( '../images/works/financebuddy.jpg' );
}

.zaralarsson{
	background-image: url( '../images/works/jpg/zaralarsson.jpg' );
}

.mosveldtt{
	background-image: url( '../images/works/mosveldtt.jpg' );
}

.millicenttravels{
	background-image: url( '../images/works/millicenttravels.jpg' );
}

.ecosystemtech{
	background-image: url( '../images/works/ecosystemtech.jpg' );
}

.svensk-gos{
	background-image: url( '../images/works/svensk-gos.jpg' );
	img{
		width: 200px;
	}
}

.kronfagel{
	background-image: url( '../images/works/kronfagel.jpg' );
}

.project-title{
	color: $white;
	letter-spacing: inherit;
}

.project-logo{
	text-align: center;
	img{
		padding-right: 15px;
	    margin: auto;
	}
}
