ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
.list-item{
	li{
		margin-bottom: 5px;
		padding-left: 20px;

		position: relative;
		&:before{
			@include transform ( rotate( 45deg ) );

			background-color: $dark-gray;
			height: 8px;
			width: 8px;

			content: '';
			left: 0;
			position: absolute;
			top: 6px;
		}
	}
}

.skills-type{
	border-top: 2px solid rgba(255,255,255,.1);
	margin-top: 30px;
	text-align: center;
    padding-top: 30px;
	li{
		display: inline-block;
		height: 60px;
		min-width: 80px;
		padding-left: 0;

		position: relative;
		span{
			color: rgba( 225,225,225,.5 );
			font-family: Montserrat,sans-serif;
			font-size: 10px;
			margin: 0 auto;
			text-transform: uppercase;

			bottom: 0;
			left: 0;
			position: absolute;
			right: 0;
		}
		&:before{
			background-color: transparent;
			background-image: url( '../images/sprite-skills-type.png' );
			height: 35px;
			margin: 0 auto;
			width: 35px;

			content: '';
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
	.html5:before{
		background-position: -35px 0;
	}
	.css3:before{
		background-position: -70px 0;
	}
	.bootstrap:before{
		background-position: -105px 0;
	}
	.jquery:before{
		background-position: -140px 0;
	}
	.php:before{
		background-position: -175px 0;
	}
	.woo:before{
		background-position: -210px 0;
	}
	.javascript:before{
		background-position: -245px 0;
	}
	.git:before{
		background-position: -280px 0;
	}
	.gulp:before{
		background-position: -315px 0;
	}
}
