/* -----------------------------------------------------------------------------
	NAVIGATION MENUS
----------------------------------------------------------------------------- */

.navbar-default {

	background-color: transparent;
	border: medium none;
	width: 100%;
	height: 45px;
	margin-top: 20px;

	left: 0;
	position: fixed;
	top: 0;

	@include media-min( $screen-sm ){
		width: 60px;
	    height: 100%;
		margin-top: 0;

		left: 15px;
	}

	@include media-min( $screen-lg ){
		left: 30px;
	}

	.navbar-collapse{
		background: transparent;
		border: medium none;
		box-shadow: inherit;
		display: block;
		height: 45px!important;
		margin-left: 0;
		margin-right: 0;
		overflow: hidden;

		@include media-min( $screen-sm ){
			height: 100%!important;
			overflow: inherit;
		}

	}

	&.minimize,
	&.maximize{
		.navbar-toggle{
			opacity: 1;

			left: 15px;
		}
	}

	&.minimize{
		.navigation{
			@include transform( translateX( -50px ) );

			opacity: 0;
		}
	}

	&.maximize{
		.navigation{
			@include transform( translateX( 0 ) );

			opacity: 1;
		}
	}

	.container{
		height: auto;
		padding: 0;
		width: 100%;

		@include media-min( $screen-sm ){
			height: 100%;
		}

	}

	.navbar-toggle{
		@include border-radius( 50% );
		@include transition( all, 0.3s );

		background-color: $primary-color;
		border: 2px solid $white;
		height: 45px;
		margin: 0;
		opacity: 0;
		width: 45px;

		left: 0;
		position: absolute;
		z-index: 1;

		&:focus{
			background-color: $primary-color;
		}

		.icon-bar{
			@include transition( all,0.3s );

			background-color: $white;
		}

		&.navbar-open .icon-bar{
			&:nth-of-type(2){
				@include transform( rotate(-45deg) translate(-4px,4px));
			}
			&:nth-of-type(3){
				opacity: 0;
			}
			&:nth-of-type(4){
				@include transform( rotate(45deg) translate(-4px,-4px) );
			}
		}

	}

}

.navbar-nav{
	float: none;
	height: 45px;
	margin: 0;
	text-align: center;
	width: 100%;
    vertical-align: middle;

	@include media-min( $screen-sm ){
		display: table-cell;
		height: 100%;
	}

	> li{
		@include transition( all,0.3s );
		@include transform( translateX( -30px ) );

		display: inline-block;
		float: none;
		margin-left: 0;
		margin-right: 0;
		opacity: 0;
		width: 45px;

		position: relative;

		&.in{
			@include transform( translateX( 0 ) );
			opacity: 1;
		}

		@include media-min( $screen-xs ){
			margin-left: 10px;
			margin-right: 10px;
		}

		@include media-min( $screen-sm ){
			display: block;
			margin-bottom: 15px;
			margin-left: 0;
			margin-right: 0;
			width: 60px;
		}

	}

	.menu-label{
		@include transition( all, 0.3s );

		background-color: $primary-color;
		color: white;
		font-family: $font-family-base;
		opacity: 0;
		padding: 7px 14px 8px;
		text-transform: uppercase;

		left: 0;
		position: absolute;
		top: 16px;
	    right: auto;

		&:before{
			background-color: $primary-color;
			height: 2px;
			opacity: 1;
			width: 15px;

		    content: "";
		    left: -15px;
		    position: absolute;
		    top: 13px;
		    z-index: 1;
		}

	}

	.icon{
		border: 2px solid $white;

		@include media-min( $screen-sm ){
			border: medium none;
		}

	}

}

.menu-item{

	&:last-of-type{ margin-bottom: 0; }

	&:hover{

		@include media-min( $screen-sm ){
			.menu-label{
				opacity: 1;

				left: 75px;
			}
		}

	}

}

.navigation{
	@include transition( all,0.3s );

	height: 100%;
	width: 100%;

	@include media-min( $screen-sm ){
		width: auto;
		display: table;
	}

}
