section{
	overflow: hidden;

	&.spacer-both{
		padding: 50px 0;

		@include media-min( $screen-sm ){
			padding: 100px 0;
		}

	}

	&.spacer-top{
		padding-top: 50px;

		@include media-min( $screen-sm ){
			padding-top: 100px;
		}

	}

	&.spacer-bottom{
		padding-bottom: 50px;

		@include media-min( $screen-sm ){
			padding-bottom: 100px;
		}

	}

	&.spacer-md-0{
		padding: 0;

		@include media-min( $screen-md ){
			padding: 100px 0;
		}

	}

	p:last-of-type{
		margin: 0;
	}

}

.section{

	&-quote{
		height: 100%;
		text-align: center;

		@include media-min( $screen-sm ){
			text-align: left;
		}

	}

	&-learn{
		margin-top: 100px;
		text-align: center;

		.btn{
		    margin-top: 20px;
		}

	}

    &-header{
        margin-bottom: 40px;
        text-align: center;

		@include media-min( $screen-sm ){
			margin-bottom: 80px;
		}

    }

	&-title{
		display: inline-block;
		font-size: 2.5rem;
		margin-bottom: 40px;

		position: relative;

		@include media-min( 321px ){
			font-size: 3rem;
		}

		@include media-min( $screen-lg ){
			font-size: 3.5rem;
		}

		&:before,
		&:after{
			height: 2px;
			width: 100px;

			position: absolute;
			content: '';
		}

		&:before{
			background-color: $white;

			left: 0;
			bottom: -7px;
		}

		&:after{
			background-color: $secondary-color;

			right: 0;
			top: -7px;
		}

		span{
			color: $secondary-color;
			display: block;

			@include media-min( $screen-sm ){
				display: inline-block;
			}

		}

		&.is-line-left,
		&.is-line-right{
			font-size: 3rem;
		}

		@include media-min( $screen-sm ){

			&.is-line-right{

				&:before{
					left: auto;
					right: 0;
				}

			}


			&.is-line-left{

				&:after{
					left: 0;
					right: auto;
				}

			}

		}

	}

	&-preamble{
		margin: 0;

		@include media-min( $screen-sm ){
            padding: 0 100px;
        }

	}

}
