.column-2{

    &-collapse-txt{
        margin-bottom: 50px;
        text-align: center;

        @include media-min( $screen-sm ){
            margin-bottom: 0;
        }

        &-list{
            height: 348px;
            overflow: hidden;
            margin-bottom: 30px;

            @include media-min( $screen-sm ){
                margin-bottom: 50px;
            }

        }

        &.is-first{

            @include media-min( $screen-sm ){
                padding-right: 10px;
                text-align: right;
            }

            @include media-min( $screen-md ){
                padding-right: 30px;
            }

        }

        &.is-last{


            @include media-min( $screen-sm ){
                padding-left: 10px;
                text-align: left;
            }

            @include media-min( $screen-md ){
                padding-left: 30px;
            }

        }

        li{
            margin-bottom: 25px;
        }

        &.is-close{

            .column-2-collapse-txt-list{
                position: relative;

                &:after{
                    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
                    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
                    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
                    display: block;
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
                    height: 150px;
                    width: 100%;

                    bottom: 0;
                    content: '';
                    left: 0;
                    position: absolute;
                }

            }

        }

    }

    &-logo{
        margin-top: 50px;
        padding: 0 13px;
        text-align: center;

        img{
            display: inline-block;
            max-width: 100%;
        }

    }

}
