&.section-banner{
    background-color: $black;
    height: 100%;
}

.banner-content{
    height: 100%;
    width: 100%;

    position: absolute;
    z-index: 111;

    &,
    .display-table{
        height: 100%;
    }

    &-text{
        margin-top: 30px;

        &-title{
            color: $primary-color;
            font-size: 2.2rem;
            letter-spacing: 2px;

            @include media-min( $screen-xs ){
                font-size: 2.6rem;
            }

            @include media-min( $screen-sm ){
                font-size: 3.4rem;
                letter-spacing: 10px;
            }

            @include media-min( $screen-lg ){
                font-size: 4rem;
            }

        }

        span{
            display: block;
            font-size: 1.8rem;
            font-weight: 400;
        }

    }

}

.main-logo{
    margin-top: -80px;

    position: relative;

    img{
        margin: 0 auto;
        width: 80px;

        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 11;

        @include media-min( $screen-xs ){
            width: 150px;
        }

    }

    &-name,
    &-description{
        text-transform: uppercase;
    }

    &-name{
        display: inline-block;
        font-size: 4.8rem;
        font-weight: 200;
        margin-top: 90px;

        @include media-min( 321px ){
            font-size: 5rem;
        }

        @include media-min( $screen-xs ){
            font-size: 6.2rem;
            margin-top: 160px;
        }

    }

    &-description{
        color: $secondary-color;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.4rem;

        @include media-min( $screen-sm ){
            font-size: 1.8rem;
        }

    }

}

.preamble{
    font-size: 1.6rem;
    line-height: 1.5;

    @include media-min( 321px ){
        font-size: 1.8rem;
    }

}
